
# macOS
.DS_Store

# Coverage
CoverageReport/
**/TestResults/

# Build outputs
bin/
obj/
*.dll
*.exe
*.pdb

# User-specific files
appsettings.json
!appsettings.json.template
*.user

# Database backups and ad-hoc scripts in root
/*.sql
!/**/Migrations/*.sql
!/**/Scripts/*.sql
