[phases.setup]
nixPkgs = ['...', 'dotnet-sdk_10']

[phases.build]
cmds = [
  'dotnet restore Porpoise.Core.sln',
  'dotnet publish Porpoise.Api/Porpoise.Api.csproj -c Release -o out'
]

[phases.deploy]
startCommand = 'cd out && dotnet Porpoise.Api.dll --urls http://0.0.0.0:$PORT'

[variables]
ASPNETCORE_ENVIRONMENT = 'Production'
